<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evadroid.calle" >

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- only for developer options -->
    <!--uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.evadroid.calle.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.evadroid.calle.settings.NumberListActivity" >
            <intent-filter>
                <action android:name="com.evadroid.action.EXCLUDED_NUMBERS" />
                <action android:name="com.evadroid.action.STD_NUMBERS" />
                <action android:name="com.evadroid.action.LOCAL_NUMBERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.evadroid.calle.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppThemePreference" >
        </activity>

        <receiver
            android:name="com.evadroid.calle.CallStateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.evadroid.calle.setupwizard.SetupActivity"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>

        <activity
            android:name="com.evadroid.calle.setupwizard.LogAnalyzerActivity"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name="com.evadroid.calle.help.HelpActivity"
            android:label="@string/title_activity_help" >
            <intent-filter>
                <action android:name="com.evadroid.action.HELP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.evadroid.calle.LogListActivity"
            android:label="@string/title_activity_log_list" >
        </activity>
        <activity
            android:name="com.evadroid.calle.UsageHistoryItemDetailActivity"
            android:label="@string/title_activity_usage_history_item_detail" >
        </activity>
        <activity
            android:name="com.evadroid.calle.setupwizard.UnknownNumbersActivity"
            android:label="@string/title_activity_unknown_numbers" >
        </activity>
        <activity
            android:name="com.evadroid.calle.setupwizard.TermsActivity"
            android:label="@string/terms_and_conditions"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.evadroid.calle.terms"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
