<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finch.mycalls" >

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppThemeNoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumberListActivity"
            android:label="@string/title_activity_number_list" >
            <intent-filter>
                <action android:name="com.app.postpaidcallapp.action.EXCLUDED_NUMBERS" />
                <action android:name="com.app.postpaidcallapp.action.STD_NUMBERS" />
                <action android:name="com.app.postpaidcallapp.action.LOCAL_NUMBERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyNumberListActivity"
            android:label="@string/title_activity_number_list" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppThemePreference" >
        </activity>

        <receiver
            android:name=".CallStateReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>
        <activity
            android:name=".ChartWebViewActivity"
            android:label="@string/title_activity_chart_web_view"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
    </application>

</manifest>
